@font-face {
  font-family: "DragonQuestFC";
  src: url("~static/fonts/EarlyGameBoy.ttf");
}

@font-face {
  font-family: "EarlyGameBoy";
  src: url("~static/fonts/EarlyGameBoy.ttf");
}

@font-face {
  font-family: "NintendBold";
  src: url("~static/fonts/NintendBold.otf");
}
